SYMLINK+="fido", GROUP="plugdev", TAG+="uaccess", MODE+="0666", KERNEL=="hidg[0-9]", SUBSYSTEM=="hidg"

ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="05df", MODE+="0666", TAG+="uaccess", GROUP="plugdev", KERNEL=="hidraw*", SUBSYSTEM=="hidraw"
